*.lo
.libs
/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/harfbuzz-icu.pc
/harfbuzz.def
/harfbuzz.pc
/hb-buffer-deserialize-json.hh
/hb-buffer-deserialize-text.hh
/hb-gobject-enums.cc
/hb-ot-shape-complex-indic-machine.hh
/hb-ot-shape-complex-myanmar-machine.hh
/hb-ot-shape-complex-sea-machine.hh
/hb-version.h
/libharfbuzz-icu.la
/libharfbuzz.la
/main
/so_locations
/tags
/test
/test-buffer-serialize
/test-size-params
/test-would-substitute
_libs
