*.lo
.libs
/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/log-valgrind.txt
/so_locations
/symbols-exported.txt
/symbols-tested.txt
/symbols-untested.txt
/tags
/test-blob
/test-buffer
/test-c
/test-common
/test-cplusplus
/test-font
/test-object
/test-ot-tag
/test-set
/test-shape
/test-unicode
/test-version
_libs
